# creds must match with the ones in CD/config.toml
POSTGRES_DB=busymonkey
POSTGRES_USER=busymonkey
POSTGRES_PASSWORD=

HTTP_PORT=80

# in case u do it on ur own with own image, paste here
BUSYMONKEY_IMAGE=busymonkey:local
